* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
}

div {
  flex: auto;
  padding: 0px;
  margin: 0px;
}

.hovered {
  background-color: green;
}

.buttons {
  flex: 0;
  padding: 0px;
  margin: 0px;
}
